<mat-table [dataSource]="weatherDate" class="table">
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="min">
    <mat-header-cell *matHeaderCellDef> Min </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.mintempC}} C </mat-cell>
  </ng-container>
  <ng-container matColumnDef="max">
    <mat-header-cell *matHeaderCellDef> Max </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.maxtempC}} C </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
