<div class="row" *ngIf="weatherDate">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Kharkov</mat-card-title>
      <mat-card-subtitle>Now:{{weatherDate.current_condition[0].temp_C}}&#176;C, Feels like: {{weatherDate.current_condition[0].FeelsLikeC}}&#176;C</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{weatherDate.current_condition[0].weatherIconUrl[0].value}}"  alt="Photo">
    <mat-card-content>
      <p>{{weatherDate.current_condition[0].weatherDesc[0].value}}</p>
    </mat-card-content>
  </mat-card>

  <mat-table [dataSource]="weatherDate.weather" class="table">
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="min">
      <mat-header-cell *matHeaderCellDef> Min </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.mintempC}} &#176;C</mat-cell>
    </ng-container>
    <ng-container matColumnDef="max">
      <mat-header-cell *matHeaderCellDef> Max </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.maxtempC}} &#176;C</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
